In [2]:
data = {
    "_id" : "5b51526654f2378619c83efa",
    "app_key" : "81f9fed2a2c4abe7eeac535a462a665315c5faed",
    "device_id" : "eb52841e-0f33-461f-b389-f95481f7bf52",
    "channel" : "0000000001",
    "net" : "0",
    "app_version" : "1.0.0",
    "sdk_version" : "0.2.3",
    "u_id" : "278478e3e8ce837339d3551a48cd85c8",
    "timestamp" : "2018-07-20T03:09:26.000Z",
    "event" : {
        "key" : "page_view",
        "count" : 1,
        "segmentation" : {
            "host" : "cdpre.tfsmy.com",
            "path" : "/license/pages/drivinglicense.html",
            "protocol" : "https:",
            "hash" : "",
            "query" : "",
            "url" : "https://cdpre.tfsmy.com/license/pages/drivinglicense.html"
        }
    },
    "ip_address" : "182.139.87.58",
    "create_time" : "2018-07-20T03:09:26.052Z",
    "event_key" : "page_view"
}

In [3]:
import pandas as pd
from pymongo import MongoClient


def connect_mongo(host, port, username, password, db):
    """ A util for making a connection to mongo """

    if username and password:
        mongo_uri = 'mongodb://%s:%s@%s:%s/%s' % (username, password, host, port, db)
        conn = MongoClient(mongo_uri)
    else:
        conn = MongoClient(host, port)


    return conn[db]
def read_mongo(db, collection, query={}, host='localhost', port=27017, username=None, password=None, no_id=True):
    """ Read from Mongo and Store into DataFrame """

    # Connect to MongoDB
    db = connect_mongo(host=host, port=port, username=username, password=password, db=db)

    # Make a query to the specific DB and Collection
    cursor = db[collection].find(query)

    # Expand the cursor and construct the DataFrame
    df =  pd.DataFrame(list(cursor))

    # Delete the _id
    if no_id:
        del df['_id']

    return df

In [4]:
import os
import bson

path = 'C:/Users/91550/Desktop/internship/data'
files = os.listdir(path)
tests = files
s = []
for file in tests:
    if not file[-4] =='j':
        try:
            source = path+'/'+ file
            with open(source, 'rb') as f:
                content = bson.loads(f.read())
                s.append(content)
        except:
            pass
        continue

In [3]:
import os
path = 'C:/Users/91550/Desktop/internship/data'
files = os.listdir(path)

len(files)

932

In [35]:
import traceback
for file in tests:
    if not file[-4] =='j':
        try:
            source = path+'/'+ file
            with open(source, 'rb') as f:
                content = bson.loads(f.read())
        except:
            pass
        continue

[]

In [3]:
import pandas as pd
data = pd.read_csv("data.csv")

#timestamp is not real data time

C:\Users\91550\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [13]:
time = data[["_id","create_time"]]

In [24]:
from dateutil import parser
end = parser.parse(max(time.create_time))
start = parser.parse(min(time.create_time))
end - start

datetime.timedelta(days=6, seconds=86398, microseconds=712000)

In [10]:
data.loc[2395499]

_id                    ObjectId(5d13162f1b928e5173fa8d96)
app_key          97fa2c49da35ccbd167753ad64ad2b3d26e40e6c
device_id                                861aa04bbcd5a6eb
timestamp                        2015-01-01T00:04:06.000Z
sdk_version                                         0.3.1
begin_session                                           1
app_version                                         1.5.2
channel                                                 1
net                                                     0
create_time                      2019-06-26T06:52:31.407Z
ip_address                                 118.114.198.50
imei                                      351702070805375
device                                           SM-J7008
resolution                                       720x1280
carrier                                              中国移动
os                                                Android
os_version                                           a5.1
locale                                              zh_CN
u_id                                                  NaN
city                                              Chengdu
Name: 2395499, dtype: object

In [44]:
data.timestamp.sort_values()

2395499    2015-01-01T00:04:06.000Z
2395748    2015-01-01T00:04:33.000Z
2396033    2015-01-01T00:05:16.000Z
2396491    2015-01-01T00:14:15.000Z
3705237    2018-07-10T05:03:38.000Z
5263820    2018-07-10T09:25:31.000Z
3705256    2018-07-10T09:30:57.000Z
5263827    2018-07-10T09:32:19.000Z
3705316    2018-07-10T09:59:57.000Z
5263825    2018-07-10T15:36:39.000Z
5263835    2018-07-10T15:37:10.000Z
5263843    2018-07-10T15:39:47.000Z
5263849    2018-07-10T15:40:10.000Z
671442     2018-07-19T05:01:39.000Z
671449     2018-07-19T09:10:42.000Z
671446     2018-07-19T09:11:13.000Z
671452     2018-07-19T09:13:02.000Z
671453     2018-07-19T13:03:03.000Z
5263850    2018-07-22T11:02:40.000Z
671466     2018-07-23T02:34:09.000Z
671463     2018-07-23T13:44:30.000Z
671464     2018-07-24T09:13:45.000Z
6018776    2018-07-24T19:02:53.000Z
6018785    2018-07-24T19:06:04.000Z
671461     2018-07-25T04:36:29.000Z
671458     2018-07-25T04:37:14.000Z
671473     2018-07-25T04:37:26.000Z
6018787    2018-07-25T06:26:25.000Z
6018791    2018-07-25T06:28:01.000Z
6018793    2018-07-25T06:32:23.000Z
                     ...
6238392    2019-06-30T23:59:55.000Z
6238391    2019-06-30T23:59:55.000Z
6238390    2019-06-30T23:59:55.000Z
6238389    2019-06-30T23:59:55.000Z
6238388    2019-06-30T23:59:55.000Z
6238387    2019-06-30T23:59:55.000Z
6238407    2019-06-30T23:59:56.000Z
6238406    2019-06-30T23:59:56.000Z
6238404    2019-06-30T23:59:56.000Z
6238403    2019-06-30T23:59:56.000Z
6238405    2019-06-30T23:59:56.000Z
6238401    2019-06-30T23:59:56.000Z
6238400    2019-06-30T23:59:56.000Z
6238399    2019-06-30T23:59:56.000Z
6238402    2019-06-30T23:59:56.000Z
6238408    2019-06-30T23:59:57.000Z
6238409    2019-06-30T23:59:57.000Z
6238410    2019-06-30T23:59:57.000Z
6238411    2019-06-30T23:59:57.000Z
6238412    2019-06-30T23:59:57.000Z
6238413    2019-06-30T23:59:57.000Z
6238419    2019-06-30T23:59:58.000Z
6238420    2019-06-30T23:59:58.000Z
6238418    2019-06-30T23:59:58.000Z
6238421    2019-06-30T23:59:58.000Z
6238416    2019-06-30T23:59:58.000Z
6238415    2019-06-30T23:59:58.000Z
6238414    2019-06-30T23:59:58.000Z
6238417    2019-06-30T23:59:58.000Z
6238422    2019-06-30T23:59:58.000Z
Name: timestamp, Length: 6238423, dtype: object

C:\Users\91550\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [5]:
events = pd.read_csv("event.csv")

In [151]:
events.head()

,_id,app_key,sdk_version,timestamp,channel,app_version,net,device_id,ip_address,create_time,event_key,event_id,seg,u_id
0,ObjectId(5d1012805a314671170f105b),b773cf8ac947e5c77ffbb4f661c1e32cc21a86a7,0.2.3,2019-06-24T00:00:00.000Z,1,1.0.0,0.0,cc42475cf22960a5,118.115.197.61,2019-06-24T00:00:00.178Z,load,load,"count=1,hash=#/help,",fa8ac9f24ac609e4dab78af0029cc777
1,ObjectId(5d1012805a314671170f1062),e9e67ea5ac79bf000a627550d7dec386037be8fd,0.2.3,2019-06-24T00:00:00.000Z,1,1.0.0,0.0,50aecc1fe89eb0d8,182.144.119.2,2019-06-24T00:00:00.307Z,load,load,"count=1,hash=,",NaN
2,ObjectId(5d1012805a314671170f1064),97fa2c49da35ccbd167753ad64ad2b3d26e40e6c,0.3.2,2019-06-24T00:00:00.000Z,1,1.6.2,1.0,467c2bc88d870a18b33bf56b7ef7e615f9d1fba7,117.139.192.58,2019-06-24T00:00:00.365Z,apps-in,apps-in,"service_name=社保服务,service_id=11142,entrance=首页...",EE7177F1A7169319720AC0F64E9893C9
3,ObjectId(5d1012805a314671170f1066),b773cf8ac947e5c77ffbb4f661c1e32cc21a86a7,0.2.3,2019-06-24T00:00:00.000Z,1,1.0.0,0.0,98a6af2e31e5d7383cbe0284e25183a911ca0046,117.136.62.36,2019-06-24T00:00:00.501Z,page_view,page_view,"count=1,host=tfsmy.chengdu.gov.cn,path=/scan-c...",1F3508D6DD27AF5B401C127CCB646308
4,ObjectId(5d1012805a314671170f106b),221ce8d9b2409a0ed5d50c5c5487220a99eb43cf,0.2.3,2019-06-24T00:00:00.000Z,1,1.0.0,0.0,50978b15634733fe,101.206.168.20,2019-06-24T00:00:00.733Z,page_view,page_view,"count=1,host=tfsmy.chengdu.gov.cn,path=/integr...",2250d938b1c3adc9cc0ee0a078c91841

In [29]:
service = events.seg
details = [x.split(',') for x in service]

In [152]:
apps = events[['device_id','app_key']]

In [162]:
test = apps[0:1000]
grouped = test.groupby('device_id')

In [163]:
grouped.size().sort_values()

device_id
95664a5cf40952e5                             1
b7ce3f4e6ea6f133                             1
b840c540761f5dac                             1
321ddcea8c47be4e887624953c0ffcdd1d5c7342     1
752051ea51d80a725bf4c5fba7c2c4298b5867a1     1
3670ac9be877f737b5772090253c06ea53ead63b     1
716099e8b1e9fbe9212c4557387bc38a9c5189a8     1
6ec1ecefe460652d                             1
385447f73bf85c44                             1
6e97f7d407a4fafd135dd675242f68cd4f9c320e     1
6e8f39e5c46eadbc5a81cfa260d0de68a291051a     1
6e43d30cf2c3aff6                             1
3c654906f610c1f8ec2480bbb83a324616d68e60     1
3d5cdd85404d2029952551bdcc2d6b8d3279e8bc     1
2ba6728fdc8234ebd974e996315fb975470c7132     1
3e1785cc32c410d015dd28116326ddb2988767ba     1
40a6b8cbba1b9a3a77bd9dd24ebd249f73f453fc     1
d0b8136e4801a7b8a997da81a4d969305d6336cf     1
6b67b65a84b0848e                             1
46deb28c6bb4b9d14ebff861434ab694277c125f     1
be0766ac89810c77f50284090110b786c1e8f2f6     1
4a84ae4dc87c11842a9870d449efb5a49ad545c7     1
4b129628f7a2f02786487e4e55d797d152687af7     1
cbd1be28479731a5c77f18b78d1311598e01414d     1
65b5e5abc9f6dc55                             1
c70330bb5a2a6bf6cd8f19c9194f557cb56727c3     1
c6644bb613c20d9e                             1
c3faf03625a6c9d2af72773b1e4fcae64d494437     1
5f249095b6152ea09a4db900b0f17c75ceba7198     1
3f05591bc67e9065050aea717afba5b06ef78fbc     1
                                            ..
60ca2fa8d7b10b2f9d97267bb1d7cf3a6e5f5c12     7
7d9686c20bfc5a43                             8
01b022dbd32cd845                             8
deb120d0266ab043                             8
38cf3a77984bb6c4                             8
50978b15634733fe                             8
88020768f537d3efb4d9fd32b8df4c3bf09fccc4     8
0c1c225ead1ca4b9                             9
53b62a1461ccf91e5997c4cbe0517c53e79ef36f     9
b08cc60d568b7bc1                             9
a1e7c099bd6af9ca                            10
84ff64be15915702                            10
ffc4cbf4076d8af7                            11
8488d631b9847792                            11
8df33e7180673a38198215601dc6a603c1ea4fe2    12
2f3dd928a9dfcb93                            12
65b82134c1f019ce                            12
2cb9946db3e615e7                            13
cf6d14ed97a2b823                            13
8c758e4b83467290                            13
ff9372865cac9923                            14
dd56a0f17ac4d1e8                            16
6dd9b87f580317cb                            17
f8e5057b54d41ca140ef9bbc66ab0973d402c662    19
04c6909a53471c6d                            19
8c8f52f05a63e0c008c3234e04231a1972963af6    21
0877f01c1bb7466f7e40c3335cf680405a3b103e    23
9fe790639970d9f8902c0fd1d47485ad49ba75cd    24
6b08be5d18d4a727                            27
4936ee66718277e4                            30
Length: 239, dtype: int64

In [73]:
test['details'] = [x.split(',') for x in test.seg]

C:\Users\91550\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [174]:
key = df.sort_values(by = 'size').iloc[-1]

app_key    affe7720c5c474142003e6d8bd540e2538d601be
size                                             30
Name: 4936ee66718277e4, dtype: object

In [331]:
want = events[(events['device_id'] == '4936ee66718277e4')]

In [275]:
want.shape

(56, 14)

In [265]:
from collections import Counter
Counter(want.app_key)

Counter({'97fa2c49da35ccbd167753ad64ad2b3d26e40e6c': 56,
         'affe7720c5c474142003e6d8bd540e2538d601be': 1,
         'e9e67ea5ac79bf000a627550d7dec386037be8fd': 4,
         'c125ebf0676f76787e56f45dbfc60b782236ccb7': 3,
         'c170224262104100ca674d9f9a0298a1133c676e': 1,
         '7414c77e8d5a5dee9ab73a9096745fe684c46e03': 41,
         '360bd34f9dbd30ae6be03b1b4e3166be09aad276': 1,
         '8d4ca441170676625dab2562241d44e19e856d0f': 23,
         '5d48462c4f9169de9fa92913ab5e2ee8baa6c765': 1,
         '1abd5816c49eb97aa11214a02a7adaa50e8726cd': 2})

In [266]:
want.head()

,_id,app_key,sdk_version,timestamp,channel,app_version,net,device_id,ip_address,create_time,event_key,event_id,seg,u_id
31,ObjectId(5d1012815c3e1a5073ca9d4a),97fa2c49da35ccbd167753ad64ad2b3d26e40e6c,0.3.1,2019-06-10T00:20:56.000Z,1,1.6.3,1.0,4936ee66718277e4,101.206.167.201,2019-06-24T00:00:01.561Z,apps-in,apps-in,"count=1,timestamp=1560126034,service-appid=1,s...",NaN
34,ObjectId(5d1012815c3e1a5073ca9d4e),97fa2c49da35ccbd167753ad64ad2b3d26e40e6c,0.3.1,2019-06-10T00:21:01.000Z,1,1.6.3,1.0,4936ee66718277e4,101.206.167.201,2019-06-24T00:00:01.832Z,apps-in,apps-in,"count=1,timestamp=1560126058,service-appid=0,s...",NaN
47,ObjectId(5d1012821b928e5173d146ee),97fa2c49da35ccbd167753ad64ad2b3d26e40e6c,0.3.1,2019-06-10T00:21:34.000Z,1,1.6.3,1.0,4936ee66718277e4,101.206.167.201,2019-06-24T00:00:02.169Z,network-error,network-error,"count=1,timestamp=1560126086,times=53626,datet...",NaN
48,ObjectId(5d1012821b928e5173d146ef),97fa2c49da35ccbd167753ad64ad2b3d26e40e6c,0.3.1,2019-06-10T00:21:34.000Z,1,1.6.3,1.0,4936ee66718277e4,101.206.167.201,2019-06-24T00:00:02.171Z,network-error,network-error,"count=1,timestamp=1560126086,times=30216,datet...",NaN
49,ObjectId(5d1012821b928e5173d146f0),97fa2c49da35ccbd167753ad64ad2b3d26e40e6c,0.3.1,2019-06-10T00:21:34.000Z,1,1.6.3,1.0,4936ee66718277e4,101.206.167.201,2019-06-24T00:00:02.171Z,network-error,network-error,"count=1,timestamp=1560126088,times=54390,datet...",NaN

In [306]:
app_count = test.groupby('device_id',as_index = False).agg(max)
count = test.app_key.value_counts()
count.sort_values(ascending = False)

97fa2c49da35ccbd167753ad64ad2b3d26e40e6c    587
e9e67ea5ac79bf000a627550d7dec386037be8fd    114
b773cf8ac947e5c77ffbb4f661c1e32cc21a86a7    108
88a6b5c1a3a1a3506d9979588a8d61d629858a36     61
9183bb56250007be9bdd2ae6e54edfd49ef8ee50     31
7414c77e8d5a5dee9ab73a9096745fe684c46e03     27
c170224262104100ca674d9f9a0298a1133c676e     21
1abd5816c49eb97aa11214a02a7adaa50e8726cd      7
7f5736a8ec8eb6dad3e996ae7b8a219e644ef0c3      6
45443b2a4465807d6bc21703449a6ce45debd5ee      6
2a1fac6117972801b17fe954c956b1ee8515578a      5
affe7720c5c474142003e6d8bd540e2538d601be      5
c125ebf0676f76787e56f45dbfc60b782236ccb7      4
221ce8d9b2409a0ed5d50c5c5487220a99eb43cf      3
5e6494cd7236d08a768a700ce1e15ba80795e915      3
529cda927fdc27333cdfd10fe944bf8ebaa214c1      2
1d8eba8d019496906b06fd832a508df9d1111bd6      2
e2b3fa913d2e6807f1b7f7ee6fed127c31a58e39      2
3fd3b45a1bb5e8f098d021eade3f0b5301775154      1
dfc50e032cda1ef0748c3c60dd54a6ab632c125b      1
498eb3a5e6a854fc5f1d1c93229f622cf4c70c52      1
29222b72b4656ca64c48a3063dcfc50d76a55650      1
db28a6475a465f2e999cf5a3c816ae0cef733bb6      1
daf25a1e96c10b336e42efeaf11f752726ae1b2d      1
Name: app_key, dtype: int64

In [416]:
#convert to csv
df.to_csv("tags.csv",sep = ",")

In [87]:
#search index
import numpy as np
import pandas as pd
events = pd.read_csv('event.csv')
users = events.device_id.unique()

array([[20722]], dtype=int64)

In [449]:
np.argwhere(users == 'e017a9f63650de0a1b682759afd43112a53fd86d')

array([[248545]], dtype=int64)

In [544]:
#test assign features to one device_id

test = df[df.id == 'cc42475cf22960a5']

cate = pd.read_excel('category.xlsx')
need = cate.dropna().iloc[:,1:3]
need.columns = ['key','category']
dic = need.set_index('key').T.to_dict('list')

tags = list(itertools.chain.from_iterable(test.tags))
raw = []  #some app_key only not in dictionary, .get return none, drop later

for tag in tags:
    feature = dic.get(tag)
    raw.append(feature)
    
final = list(filter(None,raw))

In [ ]:
# part 1
df = pd.DataFrame(columns = ['id','tags'])
information = events[['app_key','create_time','device_id']]
users = events.device_id.unique()
for user in users:
    sample = information[information.device_id == user]
    tag = sample.app_key.unique().tolist()
    df = df.append(pd.DataFrame({'id':[user],'tags':[tag]}),ignore_index=True)
    print(df)

In [90]:
#part 2

#create dictionary
import itertools

cate = pd.read_excel('category.xlsx')
need = cate.dropna().iloc[:,1:3]
need.columns = ['key','category']
dic = need.set_index('key').T.to_dict('list')

def assign_feature(user):
    tags = user.tags.strip('[]').replace("'","").replace(" ","").split(",")
    raw = []
    for tag in tags:
        feature = dic.get(tag)
        raw.append(feature)
    final = list(filter(None,raw))
    return final

In [5]:
import pandas as pd
#读取部分数据进行实验
test = pd.read_csv('user_records.csv')
test['features'] = test.apply(assign_feature,axis = 1)
test.to_csv('with_features.csv',index = False)

In [ ]:
# part 3
data = pd.read_csv('with_features.csv')
individuals = data.iloc[:,[0,2,3]] 

def standardization(line):
    return line.features.strip('[]').replace(']','').replace(' [','').replace("'","").split(",")

individuals['features_std'] = individuals.apply(standardization,axis = 1)
individuals['unique_features'] = individuals.features_std.apply(np.unique)

In [237]:
#remove individuals who only have single features
individuals['len'] = individuals.unique_features.apply(len)
useful_data = individuals[individuals.len>1]

In [238]:
def build_matirx(set_key_list):
    '''建立矩阵，矩阵的高度和宽度为关键词集合的长度+1'''
    edge = len(set_key_list)+1
    # matrix = np.zeros((edge, edge), dtype=str)
    matrix = [['' for j in range(edge)] for i in range(edge)]
    return matrix


def init_matrix(set_key_list, matrix):
    '''初始化矩阵，将关键词集合赋值给第一列和第二列'''
    matrix[0][1:] = np.array(set_key_list)
    matrix = list(map(list, zip(*matrix)))
    matrix[0][1:] = np.array(set_key_list)
    return matrix


def count_matrix(matrix, formated_data):
    '''计算各个关键词共现次数'''
    for row in range(1, len(matrix)):
        # 遍历矩阵第一行，跳过下标为0的元素
        for col in range(1, len(matrix)):
                # 遍历矩阵第一列，跳过下标为0的元素
                # 实际上就是为了跳过matrix中下标为[0][0]的元素，因为[0][0]为空，不为关键词
            if matrix[0][row] == matrix[col][0]:
                # 如果取出的行关键词和取出的列关键词相同，则其对应的共现次数为0，即矩阵对角线为0
                matrix[col][row] = str(0)
            else:
                counter = 0
                # 初始化计数器
                for ech in formated_data:
                        # 遍历格式化后的原始数据，让取出的行关键词和取出的列关键词进行组合，
                        # 再放到每条原始数据中查询
                    if matrix[0][row] in ech and matrix[col][0] in ech:
                        counter += 1
                    else:
                        continue
                matrix[col][row] = str(counter)
    return matrix

,id,features,counts,features_std,unique_features,len
0,cc42475cf22960a5,"[[2], ['1,4']]",1272,"[2, 1, 4]","[1, 2, 4]",3
1,50aecc1fe89eb0d8,"[['1,4']]",1180,"[1, 4]","[1, 4]",2
2,467c2bc88d870a18b33bf56b7ef7e615f9d1fba7,"[[4], [2], [3], ['1,4']]",1151,"[4, 2, 3, 1, 4]","[1, 2, 3, 4]",4
5,a09bf768f3779a1afe84fdedbb1a98d319361326,"[[2], [3]]",1118,"[2, 3]","[2, 3]",2
6,72ce0895b928f024,"[[2], ['1,4']]",1102,"[2, 1, 4]","[1, 2, 4]",3

In [433]:
# 创建空 matrix
sets = list(map(str, list(range(1,13))))
edge = 13
matrix = [[0 for j in range(edge)] for i in range(edge)]
matrix[0][1:] = np.array(sets)
matrix = list(map(list, zip(*matrix)))
matrix[0][1:] = np.array(sets)

In [434]:
# 建立共现矩阵（上三角）
formated_data = list(useful_data.unique_features)
for row in range(1, len(matrix)):
    for col in range((row+1), len(matrix)):
        counter = 0
        for ech in formated_data:
            if matrix[0][row] in ech and matrix[col][0] in ech:
                counter += 1
            else:
                continue
            matrix[row][col] = counter

In [375]:
# 自身出现次数不计，共现矩阵的下三角仅为对称
for row in range(1, len(matrix)):
    for col in range(1, len(matrix)):
        if row == col:
            matrix[row][col] = 0
        matrix[col][row] = matrix[row][col]

In [435]:
# 转换成 dataframe 方便看
co_matrix = pd.DataFrame(matrix).drop([0],axis = 1).drop([0],axis = 0)

In [436]:
#纵列相加为共现中总次数，只能单独放在一次，run一次，否则会把和再相加一次
co_matrix['total'] = co_matrix.sum(axis = 1)

C:\Users\91550\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: RuntimeWarning: invalid value encountered in double_scalars
  after removing the cwd from sys.path.

In [446]:
#制作优化后表格
names = list(pd.read_excel('keys.xlsx').iloc[:,0])
edge = 13
nmatrix = [[0 for j in range(edge)] for i in range(edge)]
nmatrix[0][1:] = np.array(names)
nmatrix = list(map(list, zip(*nmatrix)))
nmatrix[0][1:] = np.array(names)

In [444]:
for row in range(1, len(nmatrix)):
    for col in range((row+1), len(nmatrix)):
        nmatrix[row][col] = (co_matrix.iloc[row-1,col-1])/(co_matrix.iloc[row-1].total)     
co_freq = pd.DataFrame(nmatrix)

C:\Users\91550\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: RuntimeWarning: invalid value encountered in double_scalars
  This is separate from the ipykernel package so we can avoid doing imports until

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0,房产,使用公共交通（无车、少开车）,有车,在职（工薪族）,有孩,有健康类问题,企业组织（企业人）,未就业（求职中、青年人才）,有交通类需要,老年人（已退休）,隶属社会组织,有文娱类需要（经常关注新闻资讯）
1,房产,0,0.123171,0.102544,0.586583,0.0361458,0.0264218,0.0112956,0.0277969,0,0.0125724,0.00442,0.0690502
2,使用公共交通（无车、少开车）,0,0,0.193382,0.500862,0.0606687,0.0510169,0.0199931,0.0365391,0,0.018959,0.0130989,0.105481
3,有车,0,0,0,0.600873,0.0800194,0.0640155,0.0261882,0.0625606,0,0.028613,0.0160039,0.121726
4,在职（工薪族）,0,0,0,0,0.184167,0.1475,0.0533333,0.155833,0,0.0683333,0.0220833,0.36875
5,有孩,0,0,0,0,0,0.140086,0.0926724,0.170259,0,0.0797414,0.0646552,0.452586
6,有健康类问题,0,0,0,0,0,0,0.109589,0.228311,0,0.182648,0.0593607,0.420091
7,企业组织（企业人）,0,0,0,0,0,0,0,0.373984,0,0.121951,0.186992,0.317073
8,未就业（求职中、青年人才）,0,0,0,0,0,0,0,0,0,0.253521,0.0985915,0.647887
9,有交通类需要,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
10,老年人（已退休）,0,0,0,0,0,0,0,0,0,0,0.166667,0.833333
11,隶属社会组织,0,0,0,0,0,0,0,0,0,0,0,1
12,有文娱类需要（经常关注新闻资讯）,0,0,0,0,0,0,0,0,0,0,0,0

In [176]:
# part 4 use the number of times each device_id used the app as a second feature 
total_count = events.device_id.value_counts()
test_count = total_count[0:(len(test)+1)]
test_count = pd.DataFrame(list(test_count),columns = ['counts'])
test['counts'] = test_count
test.to_csv('with_features.csv',index = False)